<div ng-controller="MainpageCtrl">
<div class="container" style="color:gray;font-family: 'Comfortaa Regular';">
    <h1><strong>THE INCREDIBLE TEACHABLE MACHINE</strong></h1>
</div>
<div class="container" style="background-color:none;">

<table align="center" width="100%">

  <tr>
      <th>&nbsp;&nbsp;</th>
      <th class="container-child" style="width:10px;">INPUT</th>
      <th>&nbsp;&nbsp;&nbsp;</th>
      <th class="container-child">PROGRESS</th>
      <th>&nbsp;&nbsp;&nbsp;</th>
      <th class="container-child">TRAIN</th>
      <th>&nbsp;&nbsp;&nbsp;</th>
      <th class="container-child">EXAMPLE</th>
      <th>&nbsp;&nbsp;&nbsp;</th>
    <th class="container-child">OUTPUT</th>
        <th>&nbsp;&nbsp;&nbsp;</th>

  </tr>
     <tr>
    <th colspan="11">&nbsp;</th>


  </tr>
  <tr >
      <td> &nbsp; &nbsp;</td>
  	<td rowspan="3">
      <div class="outer-div camera">
        <video autoplay="true" id="video" class="inner-div"></video>
          <canvas class="canvas" id="canvas"></canvas>

      </div>
    </td>
    <td> &nbsp; &nbsp;</td>
      <td> <div class="w3-light-grey" style="width:200px">
            <div id="redBar" class="w3-container w3-red w3-center" style="width:5%">0%</div>
            </div>
      </td>
      <td> &nbsp; &nbsp;&nbsp;</td>
    <td><button class="w3-btn w3-ripple w3-red" ng-click="red();move('redBar');">COLLECT RED</button></td>
      <td> &nbsp; &nbsp;&nbsp;</td>
      <td>
            <div class="out">  <img id="Red"  style="height:100px;width:120px;"></div>

           </td>
    <td></td>
    <td >
         <div class="category" style="background-color:{{rcategory}}">
        {{rcategory}}
      </div>

    </td>
      <td>&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr >
       <td> &nbsp; &nbsp;</td>
      <td> &nbsp; &nbsp;&nbsp;</td>
      <td> <div class="w3-light-grey">
            <div id="greenBar" class="w3-container w3-green w3-center" style="width:10%">0%</div>
            </div>
      </td>
    <td>&nbsp;&nbsp;&nbsp; </td>
    <td><button class="w3-btn w3-ripple w3-green" ng-click="green();move('greenBar');">COLLECT GREEN</button></td>
<td> &nbsp; &nbsp;&nbsp;</td>
         <td><div class="out">
            <img id="Green"  style="height:100px;width:120px;">
           </div></td>
      <td></td>
    <td >
         <div class="category" style="background-color:{{gcategory}}">
        {{gcategory}}
      </div>

    </td>
      <td>&nbsp;&nbsp;&nbsp;</td>
  </tr>

  <tr>
       <td> &nbsp; &nbsp;</td>
      <td> &nbsp; &nbsp;&nbsp;</td>
      <td> <div class="w3-light-grey">
            <div id="blueBar" class="w3-container w3-blue w3-center" style="width:10%">0%</div>
            </div>
      </td>
    <td>&nbsp;&nbsp;&nbsp; </td>
    <td><button class="w3-btn w3-ripple w3-red" ng-click="blue();move('blueBar')">COLLECT BLUE</button></td>
<td> &nbsp; &nbsp;&nbsp;</td>
        <td><div class="out">
            <img id="Blue"  style="height:100px;width:120px;">
           </div></td>
      <td></td>
    <td >
         <div class="category" style="background-color:{{bcategory}}">
        {{bcategory}}
      </div>

    </td>
      <td>&nbsp;&nbsp;&nbsp;</td>
  </tr>
    <tr>

        <td colspan="11" style="text-align:center;">
         &nbsp;&nbsp;&nbsp;
        </td>

    </tr>
    <tr >

        <td>&nbsp;&nbsp;&nbsp;</td>
        <td colspan="9" style="text-align:center;">

            <div class="w3-light-grey">
            <div id="trainBar" class="w3-container w3-grey w3-center" style="width:10%">0%</div>
            </div>

        </td>

    </tr>
     <tr>

        <td colspan="11" style="text-align:center;">
         &nbsp;&nbsp;&nbsp;
        </td>

    </tr>
    <tr>

        <td colspan="11" style="text-align:center;">
            <button class="w3-button w3-border w3-border-black w3-light-grey" ng-click="trainMe();move('trainBar')">TRAIN</button>
            <button class="w3-button w3-border w3-border-black w3-light-grey" ng-click="predictMe()">PREDICT</button>

        </td>

    </tr>

</table>




</div>
</div>
